.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}
.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span {
    width: 25px;
    height: 2px;
    background: black;
    margin: 3px 5px;
    transition: 0.3s;
}
.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 55px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.logo-text {
    margin-left: 20px;
}
.right {
    display: flex;
    margin-right: 100px;
}
.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
margin-right: 17px;
color: #000;
cursor: pointer;
position: relative;
}
.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #d4af37;
    transition: width 0.4s ease;
}
.link:hover::after {
    width: 100%;
}